<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


 	<bean id="myDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/cms" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

<!--  
	<bean id="myDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://c3prod.ccqbimjzi68o.us-east-1.rds.amazonaws.com:3306/cms" />
		<property name="username" value="superuser" />
		<property name="password" value="superuser" />
	</bean>
 -->
	
	<bean id="cmsSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="annotatedClasses">
			<list>
				 <value>com.contento3.cms.page.layout.model.PageLayout</value>
				 <value>com.contento3.cms.page.layout.model.PageLayoutType</value>
				 <value>com.contento3.cms.page.section.model.PageSection</value>
				 <value>com.contento3.cms.page.section.model.PageSectionType</value>
				 <value>com.contento3.cms.page.template.model.Template</value>
				 <value>com.contento3.cms.page.model.Page</value>
				 <value>com.contento3.cms.site.structure.model.Site</value>
				 <value>com.contento3.account.model.Account</value>
				 <value>com.contento3.cms.page.template.model.TemplateType</value>
				 <value>com.contento3.cms.page.template.model.TemplateDirectory</value>
				 <value>com.contento3.dam.image.model.Image</value>
				 <value>com.contento3.cms.page.template.model.PageTemplate</value>
			     <value>com.contento3.cms.page.category.model.Category</value>
			     <value>com.contento3.cms.site.structure.domain.model.SiteDomain</value>
			     <value>com.contento3.cms.article.model.Article</value>
			     <value>com.contento3.cms.article.model.RelatedArticle</value>
			     <value>com.contento3.dam.image.library.model.ImageLibrary</value>
			     <value>com.contento3.cms.content.model.AssociatedContentScope</value>
			     <value>com.contento3.dam.storagetype.model.StorageType</value>
			     <value>com.contento3.dam.document.model.Document</value>
			     <value>com.contento3.dam.document.model.DocumentType</value>
			     <value>com.contento3.dam.storagetype.model.StorageType</value>
			     <value>com.contento3.cms.article.model.ArticleImage</value>
			  <!--   <value>com.contento3.site.user.model.User</value> -->
			    
			</list>
		</property>	
		<property name="mappingResources">
			<list>
			<!-- 	 <value>ContentType.hbm.xml</value> 
				 <value>PageLayoutType.hbm.xml</value>-->
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<prop key="net.sf.Ehcache.configurationResourceName">/config/spring/ehcache.xml</prop>
			</props>
		</property>	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

<!-- 
	<bean id="contentTypeDAO" class="com.contento3.cms.content.dao.impl.ContentTypeDAOHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
  -->
 	<bean id="siteDAO"
		class="com.contento3.cms.site.structure.dao.impl.SiteDAOHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="pageLayoutTypeDAO"
		class="com.contento3.cms.page.layout.dao.impl.PageLayoutTypeDAOHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="pageDAO"
		class="com.contento3.cms.page.dao.impl.PageDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="pageSectionDAO"
		class="com.contento3.cms.page.section.dao.impl.PageSectionDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="pageLayoutDAO"
		class="com.contento3.cms.page.layout.dao.impl.PageLayoutDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="accountDAO"
		class="com.contento3.account.dao.impl.AccountDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="pageSectionTypeDAO"
		class="com.contento3.cms.page.section.dao.impl.PageSectionTypeHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="templateDAO"
		class="com.contento3.cms.page.template.dao.impl.TemplateDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="pageTemplateDAO"
		class="com.contento3.cms.page.template.dao.impl.PageTemplateDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="templateTypeDAO" class="com.contento3.cms.page.template.dao.impl.TemplateTypeDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="templateDirectoryDAO" class="com.contento3.cms.page.template.dao.impl.TemplateDirectoryDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="imageDao" class="com.contento3.dam.image.dao.impl.ImageDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<bean id="documentDAO"
		class="com.contento3.dam.document.dao.impl.DocumentDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<bean id="documentTypeDAO"
		class="com.contento3.dam.document.dao.impl.DocumentTypeDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
 
	<aop:aspectj-autoproxy>
	<!-- 	<aop:include name="applicationLogger" /> -->
	    <aop:include name="cacheMonitor" /> 
	</aop:aspectj-autoproxy>
 
	<bean id="applicationLogger" class="com.contento3.common.aspect.ApplicationLogger" />
	
	<!-- 
	<bean id="cacheAspect" class="com.contento3.common.aspect.CacheAspect">
		<property name="cache" ref="contentTypeCache"></property>
	</bean>
	 -->
	
	<bean id="cacheMonitor" class="com.contento3.common.aspect.CacheMonitor">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:/config/spring/ehcache.xml" />
	</bean>

	<!-- CategoryDao -->
	<bean id="categoryDao"
		class="com.contento3.cms.page.category.dao.impl.CategoryDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	<!--  missing 
	<bean id="siteUserDao"
		class="com.contento3.site.user.dao.impl.UserDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	-->
	<!-- SiteDomainDao -->
	<bean id="siteDomainDao"
		class="com.contento3.cms.site.structure.domain.dao.impl.SiteDomainDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	<!-- ArticleDao -->
	<bean id="articleDao"
		class=" com.contento3.cms.article.dao.impl.ArticleDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<!--  RelatedArticleDao -->
	<bean id="relatedArticleDao"
		class=" com.contento3.cms.article.dao.impl.RelatedArticleDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<!-- ImageLibrary -->
	<bean id="imageLibraryDao" class="com.contento3.dam.image.library.dao.impl.ImageLibraryDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<!-- Cache beans -->
	<bean id="templateCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="com.contento3.cms.page.template.model.Template" />
	</bean>

	<bean id="pageCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="com.contento3.cms.page.model.Page" />
	</bean>

	<bean id="siteCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="com.contento3.cms.site.structure.model.Site" />
	</bean>
	
	<bean id="templateDirectoryCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="com.contento3.cms.page.template.model.TemplateDirectory" />
	</bean>
	
	<bean id="accountCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="com.contento3.account.model.Account" />
	</bean>
	
	<!-- AssociatedContentScopeDao -->
	<bean id="associatedContentScopeDao"
		class=" com.contento3.cms.content.dao.impl.AssociatedContentScopeDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

	<!-- ArticleImageDao -->
	<bean id="articleImageDao"
		class=" com.contento3.cms.article.dao.impl.ArticleImageDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<!-- StorageTypeDao -->
	<bean id="storageTypeDao"
		class="com.contento3.dam.storagetype.dao.impl.StorageTypeHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
</beans>
